@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
font-family: 'Rubik', sans-serif;
width: 1440px;
margin: 0 auto;
background: #ffffff;
position: relative;
}
/* /Первый блок/ */
.leftimg{
position: absolute;
width: 185px;
height: 1054px;
margin-left: -11px;
margin-top: -100px;
}

.background00{
position: absolute;
width: 300.04px;
height: 15846px;
left: 1300px;
top: -100px;
}
.background001{
position: absolute;
width: 328px;
height: 16788px;
left:-53px;
top: 1600px;
}
.background002{
  position: absolute;
  width: 258px;
  height: 3239px;
  left: -39px;
  top: 17300px;
}
.thequestions{
position: absolute;
width: 743px;
height: 1541px;
left: -100px;
margin-top: 900px;
}
.shpargalki>h1{
position: relative;
width: 1180px;
height: 160px;
margin-left: 400px;
margin-top: 69px;
font-weight: bold;
font-size: 144px;
line-height: 171px;
color: #F6CF00;
}
.firsth>li{
line-height: 0px;
font-size: 48px;
margin-left: 380px;
margin-top: 175px;
font-weight: bold;
color: #015CCA
}
.twowite>h2{
width: 391px;
height: 160px;
margin-left: 700px;
margin-top: 250px;
font-weight: bold;
font-size: 96px;
line-height: 114px;
color: #015CCA;
}
.twowite>#inform p{
width: 488px;
height: 250px;
margin-left: 712px;
margin-top: 0px;
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
h1::after{
content:"0+";
content:"0+";
font-size: 100%;
position: relative;
top:1.3em;
right:1.2em;
}
.firstimg{
width: 645px;
height: 390px;
margin-left: 500px;
margin-top: -170px;
}
h4{
width: 344px;
height: 242px;
margin-left: 405px;
margin-top: 50px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: rgba(246, 207, 0, 0.72);
margin-right: 0;
}
p{
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
.aboutus{
font-size: 48px;
margin-left: 750px;
margin-top: 96px;
}
h2{
width: 1172px;
height: 212px;
margin-left: 400px;
margin-top: 300px;
font-size: 96px;
font-weight: bold;
color: #015CCA;
}
#inform2 p{
width: 610px;
height: 289px;
margin-left: 415px;
top: 2975px;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: rgba(1, 92, 202, 0.56);
}
.secondimg{
position: relative;
width: 300px;
height: 437px;
left: 1040px;
top: -660px;
}
.points{
position: relative;
width: 541px;
height: 526px;
left: 190px;
top: -100px;
}
/* Второй блок */
.firsth2{
position: relative;
width: 658px;
font-weight: 800;
height: 374px;
left: 430px;
top: -100px;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.container-1{
padding: 250px 0px 0px 300px;
margin-top: -150px;
}
.container-1 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-1 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 4150px;
}
.container-2{
padding: 350px 0px 0px 950px;
margin-top: 0px;
}
.container-2 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-2 img{
position: absolute;
width: 493px;
height: 437px;
left: 180px;
top: 4790px;
}
.container-3{
padding: 355px 0px 0px 300px;
margin-top: 0px;
}
.container-3 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-3 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 5450px;
}
.container-4{
padding: 350px 0px 0px 950px;
margin-top: 0px;
}
.container-4 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-4 img{
position: absolute;
width: 493px;
height: 437px;
left: 180px;
top: 6080px;
}
/* блок с фотками 2 */
.firsth3{
position: relative;
width: 658px;
height: 374px;
left: 420px;
top: 235px;
font-weight: 800;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.container-01{
padding: 450px 0px 0px 950px;
margin-top: 0px;
}
.container-01 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-01 img{
position: absolute;
width: 489px;
height: 437px;
left: 200px;
top: 7200px;
}
.container-02{
padding: 230px 0px 0px 320px;
margin-top: 0px;
}
.container-02 h5,h5 br{
width: 299px;
height: 132px;
left: 200px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-02 img{
position: absolute;
width: 489px;
height: 437px;
left: 820px;
top: 7745px;
}
.container-03{
padding: 320px 0px 0px 950px;
margin-top: 0px;
}
.container-03 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-03 img{
position: absolute;
width: 489px;
height: 437px;
left: 200px;
top: 8290px;
}
.container-04{
padding: 260px 0px 0px 320px;
margin-top: 0px;
}
.container-04 h5,h5 br{
width: 299px;
height: 132px;
left: 200px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-04 img{
position: absolute;
width: 489px;
height: 437px;
left: 820px;
top: 8840px;
}
/* блок с фотками 3 */
.firsth4{
position: relative;
width: 658px;
height: 374px;
left: 390px;
top: 210px;
font-weight: 800;
font-size: 54px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.container-10{
padding: 430px 0px 0px 280px;
margin-top: 0px;
}
.container-10 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-10 img{
position: absolute;
width: 489px;
height: 437px;
left: 820px;
top: 9940px;
}
.container-20{
padding: 370px 0px 0px 950px;
margin-top: 0px;
}
.container-20 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-20 img{
position: absolute;
width: 489px;
height: 437px;
left: 180px;
top: 10550px;
}
.container-30{
padding: 345px 0px 0px 280px;
margin-top: 0px;
}
.container-30 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-30 img{
position: absolute;
width: 489px;
height: 437px;
left: 820px;
top: 11130px;
}
.container-40{
padding: 300px 0px 0px 950px;
margin-top: 0px;
}
.container-40 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-40 img{
position: absolute;
width: 489px;
height: 437px;
left: 180px;
top: 11680px;
}
/* 4 карт */
.firsth5{
position: relative;
width: 658px;
height: 65px;
left: 400px;
top: 240px;
font-weight: 800;
font-size: 54px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.container-010{
padding: 690px 0px 0px 900px;
margin-top: 0px;
}
.container-010 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-010 img{
position: absolute;
width: 489px;
height: 437px;
left: 200px;
top: 12700px;
}
.container-020{
padding: 318px 0px 0px 350px;
margin-top: 0px;
}
.container-020 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 10px;
color: #015CCA;
}
.container-020 img{
position: absolute;
width: 489px;
height: 436px;
left: 820px;
top: 13300px;
}
/* третий блок */
#artcontest{
position: absolute;
width: 1035px;
height: 236px;
left: -80px;
top: 13750px;
font-weight: 800;
font-size: 96px;
line-height: 118px;
color: #015CCA;
}
#artforp{
position: absolute;
width: 785px;
height: 180px;
left: 330px;
top: 14360px;
font-weight: 300;
font-size: 48px;
line-height: 55px;
color: #015CCA;
}
#artforimg{
position: absolute;
width: 146px;
height: 156px;
left: 1000px;
top: 14050px;
}
h3{
position: absolute;
width: 424px;
height: 55px;
left: 540px;
top: 14650px;
font-weight: bold;
font-size: 64px;
line-height: 55px;
color: #015CCA;
}
#artforh{
position: absolute;
width: 670px;
height: 55px;
left: 550px;
top: 14740px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
color: #7AB2F4;
}
/* первый этап */
.background1{
position: absolute;
width: 683px;
height: 161px;
left: 410px;
top: 14876px;
background: #FFDE2F;
border-radius: 93px;
}
.background2{
position: absolute;
width: 683px;
height: 161px;
left: 426px;
top: 15080px;
background: #FFDE2F;
border-radius: 93px;
}
.background3{
position: absolute;
width: 683px;
height: 195px;
left: 425px;
top: 15310px;
background: #FFDE2F;
border-radius: 93px;
}
.number1{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 14865px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
.number2{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 15070px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
.number3{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 15310px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
#artforli{
position: absolute;
width: 486px;
height: 102px;
left: 540px;
top: 14900px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-2{
position: absolute;
width: 531px;
height: 133px;
left: 540px;
top: 15100px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-3{
position: absolute;
width: 431px;
height: 143px;
left: 540px;
top: 15337px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
/* второй этап */
.background01{
position: absolute;
width: 683px;
height: 128px;
left: 405px;
top: 15900px;
background: #FFDE2F;
border-radius: 93px;
}
.background02{
position: absolute;
width: 683px;
height: 222px;
left: 400px;
top: 16078px;
background: #FFDE2F;
border-radius: 93px;
}
.background03{
position: absolute;
width: 683px;
height: 247px;
left: 400px;
top: 16345px;
background: #FFDE2F;
border-radius: 93px;
}
.background04{
position: absolute;
width: 683px;
height: 247px;
left: 400px;
top: 16670px;
background: #FFDE2F;
border-radius: 93px;
}
.number01{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 15890px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
.number02{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 16067px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
.number03{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 16345px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}
.number04{
position: absolute;
width: 52px;
height: 82px;
left: 480px;
top: 16660px;
font-weight: 800;
font-size: 72px;
line-height: 55px;
color: #015CCA;
}


#artfor-h3{
position: absolute;
width: 424px;
height: 55px;
left: 540px;
top: 15670px;
font-weight: bold;
font-size: 64px;
line-height: 55px;
color: #015CCA;
}
#artfor-h5{
position: absolute;
width: 849px;
height: 55px;
left: 440px;
top: 15760px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
color: #7AB2F4;
}
#artforli-1{
position: absolute;
width: 438px;
height: 65px;
left: 540px;
top: 15925px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-02{
position: absolute;
width: 413px;
height: 172px;
left: 540px;
top: 16100px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-03{
position: absolute;
width: 431px;
height: 207px;
left: 540px;
top: 16379px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-04{
position: absolute;
width: 382px;
height: 173px;
left: 540px;
top: 16700px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforp-1{
position: absolute;
width: 778px;
height: 141px;
left: 390px;
top: 17060px;
font-weight: 800;
font-size: 36px;
line-height: 47px;
color: #015CCA;
}
.neznika{
position: absolute;
width: 543px;
height: 960px;
left: 0px;
top: 16650px;
}
#openthefloor{
position: absolute;
width: 1022px;
height: 118px;
left: -150px;
top: 17200px;
font-weight: 800;
font-size: 96px;
line-height: 118px;
color: #015CCA;
}
#open-2019{
position: absolute;
left: 280px;
right: 100px;
top: 17670px;
font-weight: bold;
font-size: 64px;
line-height: 55px;
color: #7AB2F4;
}
#open-13{
position: absolute;
width: 172px;
height: 64px;
left: 703px;
top: 17890px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #015CCA;
}
#open-15{
position: absolute;
width: 172px;
height: 67px;
left: 706px;
top: 18100px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #015CCA;
}
#date{
position: absolute;
width: 225px;
height: 41px;
left: 313px;
top: 17890px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #015CCA;
}
#program-1{
position: absolute;
width: 439px;
height: 157px;
left: 884px;
top: 17890px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #015CCA;
}
#program-2{
position: absolute;
width: 439px;
height: 51px;
left: 884px;
top: 18100px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: #015CCA;
}
#aboutschool{
position: absolute;
width: 1113px;
height: 228px;
left: 0px;
top: 18170px;
font-weight: bold;
font-size: 96px;
line-height: 114px;
color: #015CCA;
}
#firsth4-{
position: absolute;
width: 419px;
height: 55px;
left: 150px;
top: 18727px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
color: #7AB2F4;
}
.background10{
position: absolute;
width: 1075px;
height: 260px;
left: 186px;
top: 19025px;
background: #FFDE2F;
border-radius: 93px;
}
.historyhse{
padding: 318px 0px 0px 350px;
margin-top: 0px;
}
.historyhse p{
position: absolute;
width: 365px;
height: 104px;
left: 276px;
top: 19120px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
.historyhse img{
position: absolute;
width: 360px;
height: 211px;
left: 890px;
top: 19000px;
}
.background20{
position: absolute;
width: 1054px;
height: 491px;
left: 207px;
top: 19390px;
background: #FFDE2F;
border-radius: 93px;
}
.historyhse1{
padding: 700px 0px 0px 700px;
margin-top: 0px;
}
.historyhse1 img{
position: absolute;
width: 279px;
height: 277px;
left: 344px;
top: 19500px;
}
.historyhse1 p{
position: absolute;
width: 365px;
height: 195px;
left: 861px;
top: 19450px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#history{
position: absolute;
width: 365px;
height: 195px;
left: 863px;
top: 19650px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
.background30{
position: absolute;
width: 1075px;
height: 299px;
left: 207px;
top: 19984px;
background: #FFDE2F;
border-radius: 93px;
}
.historyhse2{
padding: 700px 0px 0px 700px;
margin-top: 0px;
}
.historyhse2 p{
position: absolute;
width: 365px;
height: 104px;
left: 297px;
top: 20085px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
.historyhse2 img{
position: absolute;
width: 234px;
height: 196px;
left: 921px;
top: 20030px;
}
.background40{
position: absolute;
width: 1075px;
height: 383px;
left: 208px;
top: 20390px;
background: #FFDE2F;
border-radius: 93px;
}
.historyhse3{
padding: 700px 0px 0px 700px;
margin-top: 0px;
}
.historyhse3 p{
position: absolute;
width: 365px;
height: 244px;
left: 864px;
top: 20480px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA
}
.historyhse3 img{
position: absolute;
width: 353px;
height: 286px;
left: 282px;
top: 20450px;
}
.background50{
position: absolute;
width: 1458px;
height: 493px;
left: -16px;
top: 21150px;
background: #FFDE2F;
}
#pencil{
position: absolute;
width: 239px;
height: 345px;
left: 552px;
top: 20900px;
}
#vk{
position: absolute;
width: 619px;
height: 95px;
left: 207px;
top: 21300px;
}
#inst{
position: absolute;
width: 490px;
height: 94px;
left: 208px;
top: 21420px;
}
#group{
position: absolute;
width: 163px;
height: 66px;
left: 364px;
top: 21550px;
font-weight: 300;
font-size: 36px;
line-height: 66px;
color: #015CCA;
}
