@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
font-family: 'Rubik', sans-serif;
width: 1440px;
margin: 0 auto;
background: #ffffff;
position: relative;
}
/* /Первый блок/ */
.leftimg{
position: absolute;
width: 185px;
height: 1054px;
margin-left: -11px;
margin-top: -100px;
}
.rightimg{
position: absolute;
width: 282px;
height: 23031px;
left: 1260px;
margin-top: -120px;
}
.thequestions{
position: absolute;
width: 743px;
height: 1541px;
left: -100px;
margin-top: 900px;
}
.shpargalki>h1{
position: relative;
width: 1180px;
height: 160px;
margin-left: 400px;
margin-top: 69px;
font-weight: bold;
font-size: 144px;
line-height: 171px;
color: #F6CF00;
}
.firsth>li{
line-height: 0px;
font-size: 48px;
margin-left: 380px;
margin-top: 175px;
font-weight: bold;
color: #015CCA
}
.twowite>h2{
width: 391px;
height: 160px;
margin-left: 700px;
margin-top: 250px;
font-weight: bold;
font-size: 96px;
line-height: 114px;
color: #015CCA;
}
.twowite>#inform p{
width: 488px;
height: 250px;
margin-left: 712px;
margin-top: 0px;
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
h1::after{
content:"0+";
content:"0+";
font-size: 100%;
position: relative;
top:1.3em;
right:1.2em;
}
.firstimg{
width: 645px;
height: 390px;
margin-left: 500px;
margin-top: -170px;
}
h4{
width: 344px;
height: 242px;
margin-left: 405px;
margin-top: 50px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: rgba(246, 207, 0, 0.72);
margin-right: 0;
}
p{
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
.aboutus{
font-size: 48px;
margin-left: 750px;
margin-top: 96px;
}
h2{
width: 1172px;
height: 212px;
margin-left: 400px;
margin-top: 300px;
font-size: 96px;
font-weight: bold;
color: #015CCA;
}
#inform2 p{
width: 610px;
height: 289px;
margin-left: 415px;
top: 2975px;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: rgba(1, 92, 202, 0.56);
}
.secondimg{
position: relative;
width: 300px;
height: 437px;
left: 1040px;
top: -660px;
}
.points{
position: relative;
width: 541px;
height: 526px;
left: 190px;
top: -100px;
}
/* Второй блок */
.firsth2{
position: relative;
width: 658px;
height: 374px;
left: 430px;
top: -100px;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #015CCA;
}

/* .background{
position: absolute;
width: 1441px;
height: 2687px;
left: -1px;
top: 3800px;
background: rgba(255, 222, 47, 0.86);
background: url(../img/undertext.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
} */
.container-1{
padding: 250px 0px 0px 300px;
margin-top: -200px;
}
.container-1 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-1 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 4308px;
}
.container-2{
padding: 250px 0px 0px 300px;
margin-top: 0px;
}
.container-2 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-2 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 4850px;
}
.container-3{
padding: 250px 0px 0px 300px;
margin-top: 0px;
}
.container-3 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-3 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 5393px;
}
.container-4{
padding: 250px 0px 0px 300px;
margin-top: 0px;
}
.container-4 h5,h5 br{
width: 272px;
height: 116px;
left: 200px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-4 img{
position: absolute;
width: 493px;
height: 437px;
left: 820px;
top: 5935px;
}
/* блок с фотками 2 */
.firsth3{
position: relative;
width: 658px;
height: 374px;
left: 420px;
top: 500px;
font-weight: 800;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #FFDE2F;
}
.container-01{
padding: 620px 0px 0px 900px;
margin-top: 0px;
}
.container-01 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-01 img{
position: absolute;
width: 489px;
height: 437px;
left: 210px;
top: 7200px;
}
.container-02{
padding: 230px 0px 0px 900px;
margin-top: 0px;
}
.container-02 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-02 img{
position: absolute;
width: 489px;
height: 437px;
left: 210px;
top: 7745px;
}
.container-03{
padding: 200px 0px 0px 900px;
margin-top: 0px;
}
.container-03 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-03 img{
position: absolute;
width: 489px;
height: 437px;
left: 210px;
top: 8290px;
}
.container-04{
padding: 210px 0px 0px 900px;
margin-top: 0px;
}
.container-04 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-04 img{
position: absolute;
width: 489px;
height: 437px;
left: 210px;
top: 8840px;
}
/* блок с фотками 3 */
.firsth4{
position: relative;
width: 658px;
height: 374px;
left: 420px;
top: 440px;
font-weight: 800;
font-size: 54px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.container-10{
padding: 530px 0px 0px 280px;
margin-top: 0px;
}
.container-10 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-10 img{
position: absolute;
width: 489px;
height: 437px;
left: 800px;
top: 10050px;
}
.container-20{
padding: 250px 0px 0px 280px;
margin-top: 0px;
}
.container-20 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-20 img{
position: absolute;
width: 489px;
height: 437px;
left: 800px;
top: 10580px;
}
.container-30{
padding: 250px 0px 0px 280px;
margin-top: 0px;
}
.container-30 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-30 img{
position: absolute;
width: 489px;
height: 437px;
left: 800px;
top: 11130px;
}
.container-40{
padding: 250px 0px 0px 280px;
margin-top: 0px;
}
.container-40 h5,h5 br{
width: 272px;
height: 116px;
left: 100px;
top: 4000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #015CCA;
}
.container-40 img{
position: absolute;
width: 489px;
height: 437px;
left: 800px;
top: 11680px;
}
.firsth5{
position: relative;
width: 658px;
height: 65px;
left: 400px;
top: 500px;
font-weight: 800;
font-size: 54px;
line-height: 80px;
text-align: center;
color: #FFDE2F;
}
.container-010{
padding: 870px 0px 0px 900px;
margin-top: 0px;
}
.container-010 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-010 img{
position: absolute;
width: 489px;
height: 437px;
left: 200px;
top: 12900px;
}
.container-020{
padding: 210px 0px 0px 900px;
margin-top: 0px;
}
.container-020 h5,h5 br{
width: 299px;
height: 132px;
left: 1000px;
font-weight: 300;
font-size: 48px;
line-height: 66px;
padding-top: 30px;
color: #FFDE2F;
}
.container-020 img{
position: absolute;
width: 489px;
height: 436px;
left: 200px;
top: 13435px;
}
/* третий блок */
#artcontest{
position: absolute;
width: 1035px;
height: 236px;
left: -80px;
top: 13970px;
font-weight: 800;
font-size: 96px;
line-height: 118px;
color: #015CCA;
}
#artforp{
position: absolute;
width: 785px;
height: 180px;
left: 330px;
top: 14600px;
font-weight: 300;
font-size: 48px;
line-height: 55px;
color: #015CCA;
}
#artforimg{
position: absolute;
width: 146px;
height: 156px;
left: 1000px;
top: 14250px;
}
h3{
position: absolute;
width: 424px;
height: 55px;
left: 335px;
top: 14900px;
font-weight: bold;
font-size: 64px;
line-height: 55px;
color: #015CCA;
}
#artforh{
position: absolute;
width: 670px;
height: 55px;
left: 335px;
top: 15000px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
color: #7AB2F4;
}
/* первый этап */
#artforli{
position: absolute;
width: 486px;
height: 102px;
left: 335px;
top: 15156px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-2{
position: absolute;
width: 531px;
height: 133px;
left: 335px;
top: 15317px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-3{
position: absolute;
width: 431px;
height: 143px;
left: 335px;
top: 15520px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
/* второй этап */
#artfor-h3{
position: absolute;
width: 424px;
height: 55px;
left: 335px;
top: 15840px;
font-weight: bold;
font-size: 64px;
line-height: 55px;
color: #015CCA;
}
#artfor-h5{
position: absolute;
width: 849px;
height: 55px;
left: 335px;
top: 15947px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
color: #7AB2F4;
}
#artforli-1{
position: absolute;
width: 438px;
height: 65px;
left: 335px;
top: 16110px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-02{
position: absolute;
width: 413px;
height: 172px;
left: 335px;
top: 16230px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-03{
position: absolute;
width: 431px;
height: 207px;
left: 335px;
top: 16460px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
#artforli-04{
position: absolute;
width: 382px;
height: 173px;
left: 335px;
top: 16730px;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #015CCA;
}
