@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
font-family: 'Rubik', sans-serif;
width: 1440px;
margin: 0 auto;
background: #ffffff;
position: relative;
}
/* /Первый блок/ */
.leftimg{
position: absolute;
width: 185px;
height: 1054px;
margin-left: -11px;
margin-top: 0px;
}
.rightimg{
position: absolute;
width: 282px;
height: 23031px;
left: 1300px;
margin-top: -120px;
}
.thequestions{
position: absolute;
width: 743px;
height: 1541px;
left: -100px;
margin-top: 900px;
}
.shpargalki>h1{
position: relative;
width: 1180px;
height: 160px;
margin-left: 400px;
margin-top: 69px;
font-weight: bold;
font-size: 144px;
line-height: 171px;
color: #F6CF00;
}
.firsth>li{
line-height: 0px;
font-size: 48px;
margin-left: 380px;
margin-top: 175px;
font-weight: bold;
color: #015CCA
}
.twowite>h2{
width: 391px;
height: 160px;
margin-left: 700px;
margin-top: 250px;
font-weight: bold;
font-size: 96px;
line-height: 114px;
color: #015CCA;
}
.twowite>#inform p{
  width: 488px;
height: 250px;
margin-left: 712px;
margin-top: 0px;
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
h1::after{
content:"0+";
content:"0+";
font-size: 100%;
position: relative;
top:1.3em;
right:1.2em;
}
.firstimg{
width: 645px;
height: 390px;
margin-left: 500px;
margin-top: -170px;
}
h4{
width: 344px;
height: 242px;
margin-left: 405px;
margin-top: 50px;
font-weight: 500;
font-size: 36px;
line-height: 50px;
color: rgba(246, 207, 0, 0.72);
margin-right: 0;
}
p{
font-weight: 300;
font-size: 36px;
line-height: 50px;
color: rgba(1, 92, 202, 0.56);
}
.aboutus{
font-size: 48px;
margin-left: 750px;
margin-top: 96px;
}
h2{
width: 1172px;
height: 212px;
margin-left: 370px;
margin-top: 300px;
font-size: 96px;
font-weight: bold;
color: #015CCA;
}
#inform2 p{
width: 610px;
height: 289px;
margin-left: 415px;
top: 2975px;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: rgba(1, 92, 202, 0.56);
}
.secondimg{
position: relative;
width: 300px;
height: 437px;
left: 1070px;
top: -660px;
}
.points{
position: relative;
width: 541px;
height: 526px;
left: 150px;
top: -100px;
}
/* Второй блок */
.firsth2{
position: relative;
width: 658px;
height: 374px;
left: 386px;
top: 100px;
font-weight: bold;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #015CCA;
}
.leftname{
padding-bottom: 33px;
padding-right: 229px;
margin-top: 120px;
}
div ul{
display: flex;
margin-left: 230px;;
}
